[submodule "external/go"]
	path = external/go
	url = https://github.com/dappcore/go.git
	branch = dev
[submodule "external/go-i18n"]
	path = external/go-i18n
	url = https://github.com/dappcore/go-i18n.git
	branch = dev
[submodule "external/go-io"]
	path = external/go-io
	url = https://github.com/dappcore/go-io.git
	branch = dev
[submodule "external/go-rag"]
	path = external/go-rag
	url = https://github.com/dappcore/go-rag.git
	branch = dev
[submodule "external/go-ratelimit"]
	path = external/go-ratelimit
	url = https://github.com/dappcore/go-ratelimit.git
	branch = dev
[submodule "external/api"]
	path = external/api
	url = https://github.com/dappcore/api.git
	branch = dev
[submodule "external/go-store"]
	path = external/go-store
	url = https://github.com/dappcore/go-store.git
	branch = dev
[submodule "external/mcp"]
	path = external/mcp
	url = https://github.com/dappcore/mcp.git
	branch = dev
[submodule "external/go-ws"]
	path = external/go-ws
	url = https://github.com/dappcore/go-ws.git
	branch = dev
[submodule "external/go-process"]
	path = external/go-process
	url = https://github.com/dappcore/go-process.git
	branch = dev
[submodule "external/go-log"]
	path = external/go-log
	url = https://github.com/dappcore/go-log.git
	branch = dev
[submodule "external/go-proxy"]
	path = external/go-proxy
	url = https://github.com/dappcore/go-proxy.git
	branch = dev
[submodule "external/go-scm"]
	path = external/go-scm
	url = https://github.com/dappcore/go-scm.git
	branch = dev
